.SearchOn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  background-color: aliceblue;
  border-radius: 0 0 0 20px;
  float: right;
  height: 100vh;
}

.SearchOff {
  float: right;
  padding: 10px 10px 10px 15px;
  background-color: aliceblue;
  border-radius: 0 0 0 20px;
}

.SearchOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px 0px;
}

.SearchImage {
  height: 35px;
  width: 35px;
}